<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header',{title: 'add service dog'}) %>
<body>

    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <%- include('./partialNavbar',{activeMenu: 'Dogs'}) %>
            <div style="text-align: left;padding-top: 20px;">
                <form action="/dogs/addDog" method="POST" align="center">
                    <h1 align="center">Add a Service Dog</h1> <br>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input name="name" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                
                    <label for="species">Species</label> <br>
                    <input type="text" name="species"> <br>
                
                    <label for="birthYear">Birth Year</label> <br>
                    <input type="number" name="birthYear"> <br>
                
                    <label for="gender">Gender</label> <br>
                    
                    <input type="radio" name="gender" value="male">
                    <label for="">Male</label>
                    <input type="radio" name="gender" value="female">
                    <label for="">Female</label> <br>
                
                    <label for="speciality">Speciality</label> <br>
                    <select name="speciality" name="speciality">
                        <option selected disabled>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---Select---
                        </option>
                        <option value="Autism Service Dogs">Autism Service Dogs</option>
                        <option value="Diabetic Alert Dogs">Diabetic Alert Dogs</option>
                        <option value="Hearing Service Dogs">Hearing Service Dogs</option>
                        <option value="Seizure Response Dogs">Seizure Response Dogs</option>
                        <option value="Anxiety Alert Dogs">Anxiety Alert Dogs</option>
                        <option value="Mobility Assistance Dogs">Mobility Assistance Dogs</option>
                    </select> <br>

                    <label for="basic-url" class="form-label">Image URL</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://image.com/</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                                
                    <div class="input-group">
                        <span class="input-group-text">Write some detail about this dog</span>
                        <textarea class="form-control" aria-label="With textarea" name="biodata"></textarea>
                      </div>
            
                    <!-- <button type="submit">Save</button> -->
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>