<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header',{title: 'add service dog'}) %>
<body>

    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/dogs/admin">Dogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
            <div style="text-align: left;padding-top: 20px;">
                <form action="/dogs/addDog" method="POST" align="center">
                    <h1 align="center">Add a Service Dog</h1> <br>

                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input name="name" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Species</span>
                        <input name="species" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    
                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Birth Year</span>
                        <input name="birthYear" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>                              

                    <div class="input-group-text" style="max-width: 3.5%; display: inline-block;" >
                        <input name="gender" class="form-check-input mt-0" type="radio" value="male" aria-label="Radio button for following text input">
                      </div>
                      <label for="">Male</label>

                    <div class="input-group-text" style="max-width: 3.5%; display: inline-block;">
                        <input name="gender" class="form-check-input mt-0" type="radio" value="female" aria-label="Radio button for following text input">
                      </div>
                      <label for="">Female</label> <br> <br>
                                                              
                    <label for="speciality">Speciality</label> <br>
                    <select  style="max-width: 17%; margin: auto;" class="form-select" aria-label="Default select example" name="speciality">
                        <option selected disabled>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---Select---
                        </option>
                        <option value="Autism Service Dogs">Autism Service Dogs</option>
                        <option value="Diabetic Alert Dogs">Diabetic Alert Dogs</option>
                        <option value="Hearing Service Dogs">Hearing Service Dogs</option>
                        <option value="Seizure Response Dogs">Seizure Response Dogs</option>
                        <option value="Anxiety Alert Dogs">Anxiety Alert Dogs</option>
                        <option value="Mobility Assistance Dogs">Mobility Assistance Dogs</option>
                    </select> <br>

                    <label for="basic-url" class="form-label">Image URL</label>
                    <div class="input-group mb-3" style="max-width: 70%; margin: auto;">
                        <span class="input-group-text" id="basic-addon3">https://image.com/</span>
                        <input name="imagePath" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                                
                    <div class="input-group" style="max-width: 70%; margin: auto;">
                        <span class="input-group-text">Write some detail about this dog</span>
                        <textarea class="form-control" aria-label="With textarea" name="biodata"></textarea>
                      </div> <br>

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>