<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/dogs/admin">Dogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
            
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>